.customers {
    .template-salutation {
        margin: 0 0 51px 0;
        font-size: 24px;
        font-weight: 500;
        height: 36px;
        width: 180px;
    }

    .customers-data {
        display: flex;
        flex-direction: column;
        padding: 33px 40px 40px 38px;
        border-radius: 30px;
        background-color: #fff;
        box-shadow: 0 10px 60px 0 $main-shadow;

        &__row {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin-bottom: 24px;

            .search {
                display: flex;
                flex-direction: row;
                align-items: center;
                max-width: 216px;
                width: 100%;
                height: 38px;
                margin: 12px 13px 0 0;
                padding: 10px 37px;
                background-color: $bg-search;
                border-radius: 10px;
                position: relative;

                &-field {
                    border: none;
                    background-color: transparent;
                    display: flex;
                    align-items: center;

                    &::placeholder {
                        color: $color-secondary;
                    }

                    &:focus-visible {
                        outline: none;
                    }
                }

                &-icon {
                    position: absolute;
                    left: 7px;
                    top: 7px;
                }
            }
        
            .members-spectr {
                font-size: 22px;
                font-weight: 600;
                margin: 0;
                color: #000;
                margin-bottom: 7px;
            }
        
            .members-status {
                font-size: 14px;
                font-weight: 400;
                margin: 0;
                color: #16c098;
            }
        }

        &__table {
            margin-left: -2px;

            .table-head {
                height: 49px;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    height: 1px;
                    background-color: $table-line;
                    max-width: 968px;
                    width: 110%;
                    right: -42px;
                    bottom: 0px;
                }

                th {
                    color: $color-secondary;
                    font-size: 14px;
                    font-weight: 500;
                    text-align: left;
                    &:nth-child(1) {
                        width: 172px;
                    }
                    &:nth-child(2) {
                        width: 132px;
                    }
                    &:nth-child(3) {
                        width: 156px;
                    }
                    &:nth-child(4) {
                        width: 207px;
                    }
                    &:nth-child(5) {
                        width: 140px;
                    }
                    &:nth-child(6) {
                        width: 85px;
                        text-align: center;
                        transform: translateX(-5px);
                    }
                }
            }

            .table-body {
                height: 536px;
                overflow: hidden;

                tr {
                    width: auto;
                    height: 67px;
                    position: relative;
                    font-size: 14px;
                    font-weight: 500;
                    color: $color-table;

                    td:nth-child(6) {
                        height: 29px;
                        width: 80px;
                        text-align: center;

                    }

                    &::after {
                        content: "";
                        position: absolute;
                        height: 1px;
                        width: 100%;
                        background-color: $table-line;
                        left: 0;
                        bottom: 0;
                    }
                    .control-status {
                        height: 29px;
                        width: 80px;
                        border: 1px solid;
                        border-radius: 4px;
                        padding: 4px 10px;
                        margin-left: 3px;

                    }
                    .is-active {
                        background-color: $bg-active;
                        color: $color-active;
                        border-color: #00B087;
                    }
                    .is-inactive {
                        background-color: $bg-inactive;
                        color: $color-inactive;
                        border-color: $color-inactive;
                    }
                }
            }
        }

        &__nav {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            height: 24px;
            margin: 31px 0 1px;

            .nav-statistic {
                font-size: 14px;
                font-weight: 500;
                color: $color-secondary;
                margin: 2px 0 1px;
            }

            .nav-pagination {

                .table-pagination {
                    display: flex;
                    flex-direction: row;
                    margin: 0;
                    list-style: none;
                    gap: 11px;

                    &__item {
                        display: flex;
                        justify-content: center;
                    }

                    &__link {
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 26px;
                        height: 24px;
                        border: 1px solid $table-line;
                        border-radius: 4px;
                        background-color: $bg-page;
                        font-size: 12px;
                        font-weight: 500;
                        color: $color-page;
                        box-shadow: none;

                        &.arrow {
                            background: $bg-page url(assets/img/arrow-next.svg) center no-repeat;
                            &.prev  {
                               transform: rotate(180deg);
                            }
                        }
                        
                        &:hover {
                            background-color: #fff;
                            border-color: $bg-hover;
                        }
                        
                        &.show {
                            background-color: $bg-hover;
                            border-color: $bg-hover;
                            color: $bg-search;
                            &.arrow {
                                background-color: $bg-page;
                                border-color: $table-line;
                            }
                        }
                    }
                }
            }
        }
    }
}