* {
    box-sizing: border-box;
}

body {
    font-family: 'Poppins';
    background-color: #fafbff;
}

a {
    text-decoration: none;
    color: #000;
}

section {
    margin: 0;
    padding-left: 306px;
}

.container {
    margin: 20px 75px 238px 43px;
    padding: 20px;
    max-width: 1008px;
}