$bg-primary: #ffffff;
$bg-secondary: #fafbff;
$color-primary: #9197b3;
$color-secondary: #B5B7C0;
$bg-hover: #5932EA;
$bg-active: #16c09861;
$bg-inactive: #FFC5C5;
$color-active: #008767;
$color-inactive: #df0404;
$table-line: #eeeeee;
$color-table: #292D32;
$color-page: #404B52;
$bg-page: #F5F5F5;
$color-user-secondary: #757575;
$bg-search: #F9FBFF;
$main-shadow: #e2ecf980
