<section class="customers">
    <div class="container">
        <h2 class="template-salutation">Hello Evano&#128075;&#127996;,</h2>
        <div class="customers-data">
            <div class="customers-data__row">
                <div class="members">
                    <h3 class="members-spectr">All Customers</h3>
                    <h6 class="members-status">Active members</h6>
                </div>
                <div class="search">
                    <div class="search-icon">
                        <img src="assets/img/icon-search.svg" alt="search">
                    </div>
                    <input type="text" class="search-field" placeholder="Search">
                </div>
            </div>
            <div class="customers-data__table"></div>
        </div>
    </div>
</section>
