<header class="header">
    <div class="container">
        <a href="index.html" class="header-logo-link">
            <img src="assets/img/logo.svg" class="header-logo-img" alt="logo">
            <h3>Dashboard </h3><p>v.01</p>
        </a>
        <nav class="header-nav">
            <ul class="header-nav__list">
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-dashboard.svg" class="header-link__icon" alt="icon">
                        <p>Dashboard</p> 
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-product.svg" class="header-link__icon" alt="icon">
                        <p>Product</p> 
                        <img src="assets/img/icon-arrow.svg" class="header-link__arrow" alt="arrow">
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-customers.svg" class="header-link__icon" alt="icon">
                        <p>Customers</p> 
                        <img src="assets/img/icon-arrow.svg" class="header-link__arrow" alt="arrow">
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-income.svg" class="header-link__icon" alt="icon">
                        <p>Income</p> 
                        <img src="assets/img/icon-arrow.svg" class="header-link__arrow" alt="arrow">
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-promote.svg" class="header-link__icon" alt="icon">
                        <p>Promote</p> 
                        <img src="assets/img/icon-arrow.svg" class="header-link__arrow" alt="arrow">
                    </a>
                </li>
                <li class="header-nav__item">
                    <a href="#" class="header-nav__link">
                        <img src="assets/img/icon-help.svg" class="header-link__icon" alt="icon">
                        <p>Help</p> 
                        <img src="assets/img/icon-arrow.svg" class="header-link__arrow" alt="arrow">
                    </a>
                </li>
            </ul>
        </nav>
        <div class="user">
            <img src="assets/img/EvanoPM.png" class="user-photo" alt="user-photo">
            <div class="user-info">
                <h5 class="user-name">Evano </h5>
                <h6 class="user-position">Project Manager</h6>
            </div>
        </div>

    </div>
</header>

